@font-face {
  font-family: FibonSansRegular;
  src: url('/fonts/Fibon_Sans_Regular.otf');
}

.lead, h1, h2 {
  font-family: FibonSansRegular;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
.bg-gradient {
  background: -prefix-linear-gradient(left, #EF374B, #6C2D78);
  background: linear-gradient(to right, #EF374B, #6C2D78);
  p, h1 {
    color: $white;
  }
}
.curve {
  width: 100%;
  position: absolute;
  top: -2%;
  left: 0;
}
.curve-bottom {
  width: 100%;
  position: absolute;
  bottom: -2.4%;
  left: 0;
}
.logo {
  max-width: 200px;
}

.logo-footer {
  max-height: 45px;
}

.btn-phone {
  text-decoration: none !important;
  // .fa-phone {
  //   color: #EF374B !important;
  // }
}
.btn-pill {
  border-radius: 50em !important;
}

.btn-menu {
  position: absolute;
  bottom: 5px;
  right: 15%;
}
.pre-line {
  white-space: pre-line;
}


// app ---------------------------------------
#app {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
// Header ---------------------------------------
.app-header {
  padding: 0;
  position: fixed;
  .dropdown-menu {
    padding: 0;
    .dropdown-item {
      padding: 12px 25px;
      border-bottom: 1px solid $gray-200;
    }
  }
}

[v-cloak] {
  display: none;
}

// .app-body {
//   overflow-x: visible !important;
// }

// Sidebar ---------------------------------------
@media (min-width: 992px) {
  .sidebar-minimized .sidebar .sidebar-nav {
    //overflow-x: hidden;
    //overflow-y: auto;
  }
}

// Main ------------------------------------------
.main .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 575.98px) {
  .aside-menu-show .main::before,
  .sidebar-show .main::before {
    background: none;
  }
}


// Breadcrumb ------------------------------------
.breadcrumb {
  background-color: transparent;
  border-radius: 0;

}
.breadcrumb-menu {
  & .btn-outline-success, .btn-outline-primary {
    border: 1px solid transparent;
    border-color: inherit;
    padding: 0 0.55rem;
  }

  .btn-primary {
    padding: 0 0.55rem;
  }

  .btn {
    color: $white;
  }
  .btn-link {
    color: $gray-600;
  }
}

.categories {
  a:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important
  }
  // a {
  //   display: inline-block;
  // }
  // img {
  //   max-width: 110px;
  // }
}

// Form ------------------------------------------
.input-group-text {
  background-color: white;
}

// Card ------------------------------------------
// .card-header, .card-footer {
//   background-color: transparent;
// }
// .card-header {
//   padding: 1.25rem;
//   color: $blue;
//   font-weight: bold;
// }
.card-footer {
  border-top: none;
}

// Toasted ---------------------------------------
.toasted-container {
  &.top-left, &.top-center, &.top-right {
    top: 3% !important;
  }
  &.bottom-left, &.bottom-center, &.bottom-right {
    bottom: 3% !important;
  }
}

// Rate star
.Rate__star {
  padding: 1px !important;
  .icon {
    margin: 0 !important;
  }
}

// Step
.v-step-warp-horizontal {
  z-index: 0 !important;
}

// scrollbar
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollmenu a {
  display: inline-block;
}
